<div class="container" id="creatPass">
  <section>
    <h2 class="title">Crie sua própria sala</h2>
    <form action="/create-room" method="POST">
      <label class="sr-only" for="room-id">Insira uma Senha</label>
      <input
        type="password"
        name="password"
        id="room-id"
        placeholder="Insira uma Senha"
      />
      <button class="button-01">
        <img src="/images/users-alt.02.png" alt="Criar sala" />Criar sala
      </button>
    </form>
  </section>
</div>
